$bg: #fff;

.Profile {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .userProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .explorePage {
      margin: 20px 0;
      padding: 5px;
      font-size: 2em;
      .exploreLink {
        text-decoration: none;
        color: #55BA55;
      }
    }

    .userName{
      font-size: 2.5em;
      margin: 5px;
    }

    #buttons {
      padding: 5px;
      width: 30%;
      display: flex;
      justify-content: space-around;
      .subscribeButton {
        font-size: 1.25em;
        border: none;
        border-radius: 5px;
        background-color: #55BA55;
        color: #fff;
        padding: 5px;
      }
      .logoutButton {
        font-size: 1.25em;
        border: none;
        border-radius: 5px;
        background-color: #4F57CA;
        color: #fff;
        padding: 5px;
      }
    }
    
    .commentBox {
      margin: 5px;
      border: 2px solid #ececec;
      border-radius: 5px;
      width: 40%;
      height: 50px;
    }
    
    .commentButton {
      margin: 5px 0 15px 0;
      padding: 5px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      background-color: #55BA55;
      color: #fff;
    }

  }
  .animated-border-quote {
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    blockquote {
      background-color: $bg;
      border: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: .5em;
      position: relative;
      p {
        font-size: 1rem;
      }
      &:before {
        animation: clockwise 30s infinite linear;
        background-color: $bg;
        bottom: 10%;
        content: "";
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 10%;
      }
      &:after {
        animation: counter 30s infinite linear;
        background-color: $bg;
        bottom: 10%;
        content: "";
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 10%;
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;
      }
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  @keyframes clockwise {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes counter {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .explorePage {
    width: 4rem;
    height: 2rem;
  }
}
